cluster:
  TMPL_CLUSTER_ID:
    name: TMPL_NAME
cortx:
  software:
    corosync:
      secret: TMPL_SECRET
      user: TMPL_USER
server_node:
  TMPL_MACHINE_ID:
    cluster_id: TMPL_CLUSTER_ID
    network:
      data:
        private_fqdn: TMPL_PRIVATE_FQDN
    s3_instances: TMPL_S3_INSTANCES
    type: TMPL_TYPE
